@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    font-family: 'Rubik', sans-serif;
}

.primbutton{
    background-color: #3671E9;
    padding: 10px 16px ;
    color: white;
    border-radius: 24px;
}
.primbutton:hover{
    color: #3671E9;
    background-color: transparent;
    border: 1px solid white;
}

.image-extension{
    --tw-rotate: 60deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    width: 4rem;
    height: 30rem;
    right: 90%;
    margin-top: 2rem;
}


.image-extension2{
    --tw-rotate: 60deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    width: 4rem;
    height: 23rem;
    right: 10%;
    top: 67%;
}
